<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQtLTByBABE2gdcHQ7PJrkUZOM5_2Uf9g</string>
	<key>GCM_SENDER_ID</key>
	<string>224702379481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easylygoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easilygo-e5baa</string>
	<key>STORAGE_BUCKET</key>
	<string>easilygo-e5baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224702379481:ios:5da5a916c8b160e1ff95c8</string>
</dict>
</plist>